{% extends "base.html" %}

{% block announce %}
    <div style="display: flex; align-items: flex-start;">
        <div style="margin-right: 0.5em;">
            ⚠️
        </div>
        <div>
            <div>
                <strong>
                    The AI Validation Team is no longer active. We operated from August 2023 through March 2025
                </strong>
            </div>
            <div>
                This documentation is no longer maintained and is only available for historical purposes.
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ 'assets/javascripts/custom.js' | url }}"></script>
{% endblock %}
