{% extends "base.html" %}

{% block announce %}
  <div class="md-banner">
    <div class="md-banner__inner md-grid md-typeset">
      ⚠️ <strong>The AI Validation Team is no longer active. We operated from from May 2024 through March 2025 </strong><br> This documentation is no longer maintained and is only available for historical purposes.
    </div>
  </div>
{% endblock %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ 'assets/javascripts/custom.js' | url }}"></script>
{% endblock %}
