<section class="mdx-parallax__group mdx-parallax-ai-val-ai-act-tree" data-md-color-scheme="slate" data-md-color-primary="indigo">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner mdx-content__inner">
            <div class="mdx-content__column">
                <header class="md-typeset ai-val-ai-act-tree-content">
                    <h1 class="ai-val-h2" id="ai-act-support-tool">
                        AI-act Support Tool
                    </h1>
                </header>
                <div class="mdx-ai-val ai-val-ai-act-tree-content md-typeset" hidden>
                    <div class="mdx-ai-val__column">
                        <p>
                            The <a class="mdx-ai-val-trust-black__link mdx-ai-val-trust-hover__link" href="https://ai-verordening-beslishulp.apps.digilab.network/" , target="_blank">AI
                            Act Support Tool</a>
                            Helps organizations determine if the AI Act applies to their system.
                        </p>
                        <p>
                            It guides you through key questions to identify the type of AI system, assess risk
                            categories, check for exceptions,
                            and clarify your role as a provider or user, outlining the obligations for AI deployment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mdx-content__column">
                <div class="mdx-ai-val md-typeset" hidden>
        <span>
              <img src="./assets/beslishulp.svg" alt="Screenshot of AI Act Decision Tree" sizes="(max-width: 120px) 120px,
            (max-width: 193px) 193px,
            278px">
            </span>
                </div>
            </div>
        </div>
</section>
