<section class="mdx-parallax__group mdx-parallax-ai-val-amt" data-md-color-scheme="slate"
         data-md-color-primary="indigo">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner mdx-content__inner">
            <div class="mdx-content__column mdx-content-amt__column mdx-content-centralized_column">
                <header class="md-typeset ai-val-amt-content">
                    <h1 class="ai-val-h2" id="algorithm-management-toolkit">
                        Algorithm Management Toolkit
                    </h1>
                </header>
                <div class="mdx-ai-val md-typeset" hidden>
                    <p style="text-align: center">
                        Our first product is the <a class="mdx-ai-val-trust-white__link mdx-ai-val-trust-hover__link"
                                                    href="https://amt.prd.apps.digilab.network/" ,
                                                    target="_blank">Algorithm Management
                        Toolkit</a> with standardized reporting. This enables organizations to develop,
                        validate, manage, control, and publish their algorithms in collaboration with
                        (international) partners such as <a
                        class="mdx-ai-val-trust-white__link mdx-ai-val-trust-hover__link"
                        href="https://minbzk.github.io/Algoritmekader/"
                        , target="_blank">Algoritmekader</a>
                        and <a class="mdx-ai-val-trust-white__link mdx-ai-val-trust-hover__link"
                               href="https://algoritmes.overheid.nl/nl" ,
                               target="_blank">Algoritmeregister</a>.
                    </p>
                    <div class="ai-val-amt-screenshot">
                    <span>
              <img src="./assets/projectpagina.svg" alt="Screenshot of AMT">
            </span>
                    </div>
                </div>
            </div>
        </div>
</section>
