<section class="mdx-parallax__group mdx-parallax-ai-val-trust-in-algorithms" data-md-color-scheme="slate" data-md-color-primary="white">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner mdx-content__inner">
            <div class="mdx-content__column">
                <header class="md-typeset ai-val-trust-in-algorithms-content" hidden>
                    <h1 id="building-trust-in-algorithms">
                        Building trust in Algorithms
                    </h1>
                </header>
                <div class="mdx-ai-val ai-val-trust-in-algorithms-content md-typeset" hidden>
                    <p>
                        The <a class="mdx-ai-val-trust-black__link mdx-ai-val-trust-hover__link" href="https://minbzk.github.io/ai-validation/about/team/">AI Validation
                        team</a> contributes to public trust in the use of algorithms. We achieve this by
                        developing and contributing to open source solutions. These tools provide organizations and
                        citizens with insight into and control over algorithms.
                    </p>
                </div>
            </div>
            <div class="mdx-content__column">
                <div class="mdx-ai-val md-typeset" hidden>
          <span>
              <img src="./assets/logo-ada.svg" alt="Logo of ADA">
            </span>
                </div>
            </div>
        </div>
</section>
