<section class="mdx-parallax__group mdx-parallax-ai-val-team" data-md-color-scheme="slate"
         data-md-color-primary="indigo">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner mdx-content__inner">
            <div class="mdx-content__column">
                <header class="md-typeset ai-val-team-content" hidden>
                    <h1 id="the-team">
                        The team
                    </h1>
                </header>
                <div class="mdx-ai-val ai-val-team-content md-typeset" hidden>
                    <div class="mdx-ai-val__column">
                        <p>
                            The <a class="mdx-ai-val-trust-white__link mdx-ai-val-trust-hover__link"
                                   href="https://minbzk.github.io/ai-validation/about/team/">AI Validation
                            team</a> is part
                            of the <a class="mdx-ai-val-trust-white__link mdx-ai-val-trust-hover__link"
                                      href="https://www.rijksorganisatieodi.nl/rijks-ict-gilde" ,
                                      target="_blank">Rijks ICT Gilde</a>
                            and is made up of engineers, designers, and researchers. We work on behalf of the Ministry
                            of the Interior
                            and Kingdom Relations. <a class="mdx-ai-val-trust-white__link mdx-ai-val-trust-hover__link"
                                                      href="https://minbzk.github.io/ai-validation/about/team/">Read
                            more</a>
                            on our team page.
                        </p>
                        <div class="ai-val-team-page-person-circles-container">
                            <!-- Template for where javascript puts the circles of people -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
