<section class="mdx-parallax__group mdx-parallax-ai-val-wow" data-md-color-scheme="slate" data-md-color-primary="indigo">
    <div class="md-content md-grid" data-md-component="content">
        <div class="md-content__inner mdx-content__inner">
            <div class="mdx-content__column mdx-content-centralized_column">
                <header class="md-typeset ai-val-wow-content">
                    <h1 class="ai-val-h2" id="way-of-working">
                        Way of Working
                    </h1>
                </header>
                <div class="mdx-ai-val ai-val-wow-content md-typeset" hidden>
                    <div class="mdx-ai-val__column">
                        <p>
                            The <a class="mdx-ai-val-trust-black__link mdx-ai-val-trust-hover__link" href="https://minbzk.github.io/ai-validation/about/team/">AI Validation
                            team</a> operates in an open-source manner, staying true to our principles. Our
                            progress can be tracked on <a class="mdx-ai-val-trust-black__link mdx-ai-val-trust-hover__link" href="https://github.com/orgs/MinBZK/projects/7" ,
                                                                  target="_blank">Github</a>, and anyone is
                            welcome to contribute.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
