* @MinBZK/ai-validation-team

# excluded files so github actions bot can auto update dependencies
#  see https://github.com/orgs/community/discussions/23064
poetry.lock
pyproject.toml
.github/workflows/*
.devcontainer/devcontainer.json
.pre-commit-config.yaml
