repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.7.0
    hooks:
      - id: cspell
        args: [--no-must-find-files,
               --quiet,
               --show-suggestions,
               --locale=en-US,
               --exclude=.pre-commit-config.yaml,
               --exclude=requirements.txt,
               --exclude=.gitignore,
               --exclude=mkdocs.yml,
               --exclude=launch.json,
               --exclude=dependabot.yml,
               --exclude=security.txt,
               --exclude=devcontainer.json,
               --exclude=cspell.config.yaml,
               --exclude=aivalidation_dictionary.txt
        ]

ci:
  autofix_prs: false
  autofix_commit_msg: 'Auto fix pre-commit.com hooks'
  autoupdate_commit_msg: 'Update .pre-commit-config.yaml'
