# Project information
site_name: AI Validation Team
site_url: https://minbzk.github.io/ai-validation/
site_description: >-
  Documenting the processes of the AI Validation Team at the Ministry of the
  Interior and Kingdom Relations in The Netherlands.

# Repository
repo_name: MinBZK/ai-validation
repo_url: https://github.com/MinBZK/ai-validation
edit_uri: edit/main/docs/

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MinBZK/ai-validation

extra_templates:
  - .well-known/security.txt

# Copyright
copyright: European Union Public License v. 1.2

# Configuration
theme:
  name: material
  custom_dir: overrides
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    - content.tooltips
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
  palette:
    primary: white
    scheme: slate
  icon:
    logo: fontawesome/solid/house
    annotation: fontawesome/solid/circle-info
  language: en

# Plugins
plugins:
  - awesome-pages
  - meta
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - git-committers:
      repository: minbzk/ai-validation
      branch: main
  - git-revision-date-localized:
      enable_creation_date: true
  - glightbox
  - privacy
  - search

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: MinBZK
      repo: ai-validation
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - AI Validation Team: index.md
  - Projects:
    - AMT:
      - projects/amt/index.md
      - Reporting Standard:
        - projects/amt/reporting-standard/index.md
        - projects/amt/reporting-standard/latest.md
        - projects/amt/reporting-standard/0.1a13.md
        - projects/amt/reporting-standard/0.1a12.md
        - projects/amt/reporting-standard/0.1a11.md
        - projects/amt/reporting-standard/0.1a10.md
        - projects/amt/reporting-standard/0.1a9.md
        - projects/amt/reporting-standard/0.1a8.md
        - projects/amt/reporting-standard/0.1a7.md
        - projects/amt/reporting-standard/0.1a6.md
        - projects/amt/reporting-standard/0.1a5.md
        - projects/amt/reporting-standard/0.1a4.md
        - projects/amt/reporting-standard/0.1a3.md
        - projects/amt/reporting-standard/0.1a2.md
        - projects/amt/reporting-standard/0.1a1.md
        - projects/amt/comparison.md
      - ADRs for AMT:
        - ... | flat | projects/amt/adrs/*
      - Existing tools:
        - ... | flat | projects/amt/existing-tools/comparison/*
        - Checklist:
          - ... | flat | projects/amt/existing-tools/checklists/*
    - LLM Benchmarks:
      - projects/LLM-Benchmarks/index.md
  - Way of Working:
    - way-of-working/principles.md
    - way-of-working/contributing.md
    - ... | flat | way-of-working/*
    - Onboarding:
      - ... | flat | way-of-working/onboarding/*
    - way-of-working/off-boarding.md
    - way-of-working/decision-log.md
  - About us:
    - ... | about/*
